*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    background-color: rgb(22, 22, 22);
    animation:color 5s linear forwards;
}
@keyframes color{
    0%{
        stroke-dashoffset: 0%;
    }
    100%{
        stroke-dashoffset: 100%;
        background-color:rgb(255, 250, 250);
    }
}
svg path:nth-child(1){
    stroke-dasharray: 279px;
    stroke-dashoffset: 279px;
    animation: name 5s linear forwards;

}


svg path:nth-child(2){
    stroke-dasharray: 252px;
    stroke-dashoffset: 252px;
    animation: name 5s linear forwards;
}
svg path:nth-child(3){
    stroke-dasharray: 492px;
    stroke-dashoffset: 492;
    animation: name 5s linear forwards;
}

svg path:nth-child(4){
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    animation: name 5s linear forwards;
}
svg path:nth-child(5){
    stroke-dasharray: 218px;
    stroke-dashoffset:218 ;
    animation: name 5s linear forwards;
}
svg path:nth-child(6){
    stroke-dasharray: 471.1px;
    stroke-dashoffset: 469.8px;
    animation: name 5s linear forwards;
    
    
}
@keyframes name{
    0%{
        
        stroke-dashoffset: 0px;


    }
    
    100%{
        
        stroke-dashoffset: 100%;
        stroke-dasharray: 0px;
        background-color: chartreuse;
    }
}






/*
.b{
    background-color: antiquewhite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: test 5s infinite;
    position: relative;


}
@keyframes test{
    0%{
        top:0%;
        left:0%;
        background-color:white;
        

    }
25%{
    top:0px;
    left:700px;
    width:300px
    background-color: brown;
    }

    50%{

        top:500px;
        left:700px;
        width:700px;
   
   background-color: aquamarine;
   
    }
    75%{
        top:500px;
      left:0px;
      background-color: chartreuse;
    }

    100%{
       top:0px;
       left:0%;
       background-color: azure;
    }

}
    */